<% layout('layouts/boilerplate') %>

<h1 class="text-center">Create New Camground</h1>
<div class="row">
    <div class="col-md-6 offset-3">
        <form action="/campgrounds" method="POST">
            <label for="campground[title]" class="form-label">Title</label>
            <input type="text" class="form-control" name="campground[title]" id="campground[title]">
            <label for="campground[location]" class="form-label">Location</label>
            <input type="text" class="form-control" name="campground[location]" id="campground[location]">
            <label for="campground[price]" class="form-label">Price</label>
            <div class="input-group">
                <span class="input-group-text">$</span>
                <input type="text" class="form-control" name="campground[price]" id="campground[price]"
                    placeholder="0.00">
            </div>
            <label for="campground[image]" class="form-label">Image</label>
            <input type="text" class="form-control" name="campground[image]" id="campground[image]">
            <label for="campground[description]" class="form-label">Description</label>
            <textarea type="text" class="form-control" name="campground[description]"
                id="campground[description]"></textarea>
            <div>
                <button class="btn btn-success mt-3">Submit</button>
                <a href="/campgrounds" class="btn btn-secondary mt-3">Cancel</a>
            </div>
        </form>
    </div>
</div>